* {
  font-family: sans-serif;
  line-height: 1.15;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-image: url(./img/bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(58, 64, 104);
}

.intro {
  height: 100vh;
  margin: 0px 100px;
  padding: 0px 200px;
  display: flex;
  flex-direction: column;
}

.intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-content img {
  height: 70%;
}
.intro-text h2 {
  line-height: 1.5;
}

.intro-text p {
  margin: 30px 0px;
  text-align: center;
}

.intro-content button,
.modal button {
  background-color: rgb(88, 97, 155);
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 150px;
}

/* MODAL */
.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30vw;
  height: 30vh;
  border-radius: 8px;
  gap: 35px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
